<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$Page_Title$}</title>
	<base href="{$Base$}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../asset/style.css">
</head>
<body>
	<div id="header">
		<a id = "logo" href = '../index.html'>Blog Builder</a>
		<p id = "description">build with 54wedge's blog builder</p>
	</div>
		{&Nav_module&}
  <hr>
  {&Content&}
  <hr>
  <div id="footer">
    <p>The blog builder is still in development.</p>
  </div>
</body>
</html>
