<!doctype html>
<html class = "night-mode">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	%%Base%%
	<link href="../asset/github.css" rel="stylesheet"/>
	<!-- highlight.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/atom-one-dark-reasonable.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<!-- MathJax-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML' async></script>
</head>
<body>
	<container1>
		<a id = "logo" href = '../index.html'>Blog Builder</a>
		<p id = "description">build with 54wedge's blog builder</p>
	</container1>
	<container2>
		%%Nav%%
	</container2>
  <hr>
  %%Content%%
  <hr>
  <container4>
    <p>The blog builder is still in development.</p>
  </container4>
</body>
</html>
